$fast-hover: .15s;

// brand 2019 colors
$purple0D: #0D0A1A;
$purple16: #161326;
$purple20: #201C33;
$purple33: #332E4D;
$purple48: #484266;
$purple5F: #5F5980;
$purple79: #797399;
$purple95: #958FB2;
$purpleB3: #B3ADCC;
$purpleD3: #D3CFE5;
$purpleF4: #F4F2FF;

$notpinkE6: #E6004C;
$notpinkFF: #FF0055;

$redE5: #E50000;
$blue: #0085E5;
$orangeE0: #E07000;

//brand guideline colors
$purpleBlack: #161326;
$purple: #484266;
$purpleGrey: #958FB2;
$purpleWhite: #F4F2FF;
$pink: #E6004C;