@import '../scss_components/vars';

.section__about {
    align-items: flex-start;
    height: unset;

    h1,
    h2,
    h3 {
        font-family: 'Lato', sans-serif;
        font-style: normal;
        font-weight: normal;
        color: $purpleWhite;
    }

    h1,
    h2 {
        line-height: 48px;
        font-size: 36px;
    }

    h3 {
        font-size: 20px;
        line-height: 26px;
    }

    &-intro {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        height: 100%;
        background-image: url('../img/about/Stars.svg');
        background-repeat: no-repeat;

        .section__wrapper {
            padding-top: 120px;
            padding-bottom: 175px;
        }

        .img__mob {
            display: none;

            @media only screen and (max-width: 480px) {
                display: block;
            }
        }

        .img__tablet {
            display: none;

            @media only screen and (max-width: 812px) {
                display: block;
            }

            @media only screen and (max-width: 480px) {
                display: none;
            }
        }

        .img__desktop {
            @media only screen and (max-width: 812px) {
                display: none;
            }

        }
    }
}

.section__wrapper__start {
    align-items: flex-start;
}

.page__about {
    .section__wrapper {
        max-width: 1175px;
        position: relative;
    }

    .section__about-intro {
        .section__wrapper {
            padding-top: 122px;

            @media only screen and (max-width: 812px) {
                max-width: 762px;
                padding-top: 68px;
                padding-bottom: 43px;
            }

            @media only screen and (max-width: 600px) {
                max-width: 416px;
                margin: 0;
                padding-top: 62px;
                padding-bottom: 68px;
            }
        }
    }

    .block__text-half {
        max-width: 516px;
        padding: 0 20px 0 0;


        @media only screen and (max-width: 812px) {
            max-width: 430px;
        }

        h1,
        h2 {
            padding-bottom: 23px;

            @media only screen and (max-width: 812px) {
                max-width: 370px;
                padding-bottom: 15px;
            }
        }

        p {
            padding: 10px 0;
            font-family: 'Lato', sans-serif;
            font-weight: normal;
            font-size: 18px;
            line-height: 24px;
        }
    }
}

.section__about {
    &-gamers {
        .section__wrapper {
            padding-top: 56px;
            padding-bottom: 133px;

            @media only screen and (max-width: 812px) {
                max-width: 760px;
                padding-top: 90px;
                padding-bottom: 87px;
            }

            @media only screen and (max-width: 600px) {
                padding-top: 60px;
                padding-bottom: 80px;
            }

            .block__text-half p {
                @media only screen and (max-width: 600px) {
                    max-width: 300px;
                }
            }
        }
    }

    &-info {
        background: #201C33;

        .section__wrapper {
            max-width: 1220px;
            padding-top: 100px;
            padding-bottom: 47px;

            @media only screen and (max-width: 812px) {
                max-width: 760px;
                padding-top: 106px;
                padding-bottom: 87px;
            }

            @media only screen and (max-width: 600px) {
                padding-top: 75px;
                padding-bottom: 35px;
            }

            > h2 {
                padding-bottom: 14px;

                @media only screen and (max-width: 812px) {
                    padding-bottom: 0;
                }
            }

            p {
                max-width: 700px;

                @media only screen and (max-width: 812px) {
                    max-width: 570px;
                }
            }
        }
    }

    &-invest {
        .section__wrapper {
            max-width: 1246px;
        }
    }

    &-join {
        background: #201c33;

        .section__wrapper {
            max-width: 715px;
            padding-top: 99px;
            padding-bottom: 97px;

            @media only screen and (max-width: 812px) {
                max-width: 670px;
                padding-top: 94px;
            }

            @media only screen and (max-width: 600px) {
                padding-bottom: 67px;
            }
        }

        h2 {

            span {
                color: $pink;
            }
        }

        .btn__pink {
            margin: 39px auto 0;

            @media only screen and (max-width: 812px) {
                margin-top: 19px;
            }
        }

    }
}

.about__info {
    &-block {
        display: flex;
        justify-content: space-around;
        width: 100%;
        max-width: 1206px;
        padding: 42px 0 0;
    }

    &-item {
        display: block;
        width: 100%;
        max-width: 280px;
        margin: 0 20px 50px;
        text-align: center;

        span {
            display: block;
            padding: 6px 0;
            font-family: 'Lato', sans-serif;
            font-weight: normal;
            font-size: 18px;
            line-height: 24px;

            &:first-of-type {
                color: $purpleWhite;
            }

            &:last-of-type {
                color: $purpleGrey;
            }
        }
    }

    &-bg {
        margin-bottom: 78px;
    }
}

.about__img-intro {

    &-bg {
        position: absolute;
        max-width: 799.62px;
        max-height: 891.62px;
        height: 100%;
        transform: translate(92px, -9px);

        @media only screen and (max-width: 812px) {
            transform: translate(23px, 23px);
            width: 100%;
        }

        @media only screen and (max-width: 480px) {
            top: 447px;
            right: -40px;
            width: auto;
        }
    }
}

.about__value {
    &-block {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;

        @media only screen and (max-width: 812px) {
            justify-content: space-evenly;
            margin-top: 0;
        }
    }

    &-item {
        display: block;
        width: 25%;
        min-width: 230px;
        max-width: 25%;
        margin: 50px 0;
        text-align: center;
        box-sizing: border-box;

        @media only screen and (max-width: 812px) {
            margin: 50px 0 20px;
        }

        @media only screen and (max-width: 600px) {
            margin-bottom: 7px;
        }
    }

    &-img {
        height: 89px;
    }

    &-title {
        display: inline-block;
        padding-top: 2px;
        font-size: 18px;
        line-height: 24px;
        font-family: 'Lato', sans-serif;
    }
}

.invest {
    &__block {
        display: flex;
        padding: 46px 0;

        @media only screen and (max-width: 812px) {
            max-width: 556px;
            flex-direction: column;
            padding: 0;
        }

        a {
            display: block;
            color: $purpleWhite;
            text-decoration: underline;

            &:hover {
                color: $purpleBlack;
            }
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50%;
        padding: 30px 0 10px;

        @media only screen and (max-width: 812px) {
            width: 100%;
            padding: 27px 0 50px;
        }

        @media only screen and (max-width: 600px) {
            padding-top: 5px;
        }

        &:first-of-type {
            border-right: 1px solid #332E4D;
            padding-right: 94px;
            max-width: 60%;

            @media only screen and (max-width: 812px) {
                max-width: 100%;
                padding-right: 0;
                border-right: 0 solid transparent;
            }
        }

        &:last-of-type {
            padding-left: 94px;

            @media only screen and (max-width: 812px) {
                padding-left: 0;
            }
        }

        h3 {
            font-weight: normal;
            font-size: 20px;
            line-height: 26px;
            color: $purpleWhite;

            @media only screen and (max-width: 812px) {
                padding-bottom: 3px;
            }
        }

        p {
            font-size: 16px;
        }
    }

    &__logo {
        margin: 33px 0 0;

        @media only screen and (max-width: 812px) {
            margin: 39px auto 0;
            text-align: center;
        }

        @media only screen and (max-width: 600px) {
            margin: 19px auto 0;
        }
    }
}