.section__partners-logo,
.page__partners + footer {
    background: #201C33;
}

.page__partners {
    .section:first-of-type .section__wrapper {
        padding-top: 80px;
        padding-bottom: 22px;

        @media only screen and (max-width: 1024px) {
            padding-top: 55px;
            padding-bottom: 45px;
        }
    }


    .section__wrapper {
        padding: 80px 56px 56px;

        @media only screen and (max-width: 1024px) {
            padding-top: 60px;
        }

        @media only screen and (max-width: 600px) {
            padding-top: 40px;
            padding-bottom: 65px;
        }
    }

}

.section__partners-logo {
    .section__wrapper {
        padding-left: 0;
        padding-right: 0;

        @media only screen and (max-width: 1024px) {
            padding-bottom: 13px;
        }
    }
}

.section__partners-join {
    .section__wrapper {
        max-width: 1195px;
        margin: auto;
    }
}

.partners__logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 840px;
    padding: 29px 0 17px;

    @media only screen and (max-width: 1024px) {
        max-width: 650px;
    }

    @media only screen and (max-width: 600px) {
        max-width: 440px;
    }

    &-item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 128px;
        margin: 20px 12px;

        @media only screen and (max-width: 1024px) {
            min-width: 33.33%;
            margin: 32px 0;
        }

        @media only screen and (max-width: 480px) {
            margin: 18px 0;
        }
    }
}

.text__partners {
    max-width: 654px;
    padding-top: 30px;
    text-align: center;

    @media only screen and (max-width: 1024px) {
        padding-top: 24px;
    }

    @media only screen and (max-width: 600px) {
        padding-top: 27px;
    }
}

.contact__email {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    font-size: 20px;
    margin: 57px 20px 55px 24px;
    line-height: 26px;
    text-align: center;
    color: #D3CFE5;

    @media only screen and (max-width: 1024px) {
        margin: 33px 20px 13px 36px;
    }

    @media only screen and (max-width: 600px) {
        margin: 80px 20px 8px;
    }

    &::before {
        position: absolute;
        top: 0;
        left: -36px;
        content: ' ';
        width: 27px;
        height: 27px;
        background: url("../img/svg/envelope.svg") no-repeat 50% 50%;

        @media only screen and (max-width: 600px) {
            top: -30px;
            left: 50%;
            margin-left: -1px;
            transform: translate(-50%, 0%);
        }
    }

    &::after {
        position: absolute;
        top: -4px;
        right: -20px;
        content: ' ';
        width: 21px;
        height: 30px;
        margin-left: 1px;
        background: url("../img/svg/sparkels.svg") no-repeat 50% 50%;

        @media only screen and (max-width: 600px) {
            top: -42px;
            right: unset;
            left: 50%;
            margin-left: 31px;
            transform: translate(-50%, 0%);
        }
    }

    a {
        margin: 0 5px;
        font-size: 20px;
        color: #B2A1E5;
    }
}

.partners__block {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    width: 100%;
    padding: 26px 0;

    @media only screen and (max-width: 1060px) {
        justify-content: center;
        padding: 34px 0;
    }

    @media only screen and (max-width: 480px) {
        padding: 14px 0;
    }
}

.partners__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 272px;
    margin: 20px;
    text-align: center;

    @media only screen and (max-width: 1024px) {
        margin: 26px 20px 26px;
    }

    @media only screen and (max-width: 600px) {
        margin: 22px 20px 17px;
    }


    &:first-of-type {
        order: 1;
    }

    &:nth-of-type(3) {
        order: -1;
    }

    &-img {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 145px;
        margin-bottom: 10px;
        text-align: center;
    }

    &-title {
        line-height: 24px;
        font-family: 'Lato';
        font-weight: normal;
        font-size: 18px;
        color: #D3CFE5;
    }

    &-text {
        padding: 10px 0;
        font-weight: normal;
        font-size: 16px;
        line-height: 23px;
    }
}